body {
  font-family: 'Coming Soon', cursive;
  letter-spacing: 2px;
}

.jumbotron {
  background-image: url('./../../resources/images/jumbotron.jpg');
  background-position: center;
  min-height: 450px;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron h1 {
  padding: 20px 0 0 20px;
  max-width: 400px;
  font-family: 'Mogra', cursive;
  font-size: 6em;
}

h1 {
  font-family: 'Mogra', cursive;
}

.filter-label {
  font-size: 16px;
  font-weight: 400;
}

a:hover {
  cursor: pointer;
}

.new-animal-form h3 {
  text-align: center;
}

.animal-details h3 {
  text-align: center;
}

.animal-property-heading {
  font-weight: 800;
  text-transform: uppercase;
}

.animal-picture {
  width: 200px;
  height: auto;
}

.edit-button {
  display: block;
  clear: both;
}

.edit-form {
  display: block;
  clear: both;
  margin: 20px;
}

.edit-form h4 {
  text-align: center;
}
