.jumbotron{
  background-image: url('./../../resources/images/tiger.jpeg');
  background-position: center;
  min-height: 350px;
  color: white;
}

.jumbotron h1{
  padding: 20px 0 0 20px;
  max-width: 400px;
}

a:hover {
  cursor: pointer;
}

.animal-details h3{
  text-align: center;
}

.animal-picture{
  width: 200px;
  height: auto;
}

.edit-button {
  display: block;
  clear: both;
}

.edit-form {
  display: block;
  clear: both;
  margin: 20px;
}
